# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Android
android/app/build
android/.gradle/
android/build/
android/local.properties
android/.externalNativeBuild/
android/.cxx/
android/*.apk
android/*.aab
android/*.ap_
android/*.jks
android/*.keystore
android/.idea/
android/captures/

# Capacitor Android 构建产物
android/app/src/main/assets/public/

# Capacitor 自动生成的资源
# icons/
android/app/src/main/res/drawable-*/splash.png
android/app/src/main/res/drawable-night/splash.png
android/app/src/main/res/mipmap-*/ic_launcher*.png
android/app/src/main/res/mipmap-anydpi-v26/ic_launcher*.xml
tsconfig.tsbuildinfo

# AI
.trae/
.claude/
openspec/
